@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Aprende acerca de <a href="https://docs.microsoft.com/aspnet/core">Integracion continua</a>.</p>
    <P>Desgined by <a href="">anahi.z.a</a></P>
</div>
